# Load datasets from INEC
household_characteristics: `http://www.inec.go.cr/ingresos-y-gastos-de-hogares/ingresos-de-los-hogares`

Education: `http://www.inec.go.cr/educacion`

In [1]:
import preprocessing

In [6]:
household_characteriscits = preprocessing.INECDataSet('household_characteristics')
print(household_characteriscits.get_dataset_description())
hh_char = household_characteriscits.get_dataset()
hh_char

Start to load data...
Processing... Please wait...

/Users/scott/dev/ece143/preprocessing.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  year_df['Category'] = year_df['Category'].apply(lambda x: self.category_translation[x])
/Users/scott/dev/ece143/preprocessing.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  year_df['year'] = year

Main characteristics of households and people
By quintiles of household income per capita
According to planning region
July 2010-2017
(Excludes domestic service and pensioners)

,Category,Total,Quintil 1,Quintil 2,Quintil 3,Quintil 4,Quintil 5,region,year
0,Total people,4551553,1052105,959510,954140,842427,743371,Whole Costa Rica,2010
1,Total households,1289716,257879,258035,257935,257731,258136,Whole Costa Rica,2010
2,Members per household,3.52911,4.07984,3.71853,3.69915,3.26863,2.87976,Whole Costa Rica,2010
3,Work force by household,1.58406,1.17657,1.43144,1.78882,1.81789,1.70563,Whole Costa Rica,2010
4,Occupied by household,1.46817,0.935943,1.29298,1.6794,1.76074,1.67181,Whole Costa Rica,2010
5,Income per household,804366,190804,366492,579694,856580,2.02738e+06,Whole Costa Rica,2010
6,Per capita income per household,268592,46519.2,98511.8,157082,263187,777277,Whole Costa Rica,2010
7,Percentage of households headed by women,33.6888,34.0799,33.6985,34.0159,33.436,33.2139,Whole Costa Rica,2010
8,Percentage distribution of household income,100,4.74303,9.11582,14.4132,21.2807,50.4472,Whole Costa Rica,2010
9,Demographic dependency relationship,0.464744,0.729458,0.588573,0.397283,0.311504,0.304612,Whole Costa Rica,2010
10,Economic dependency ratio,1.22789,2.46758,1.59775,1.06792,0.798033,0.68839,Whole Costa Rica,2010
11,Weekly hours worked in the main occupation,44.9244,39.2666,44.2041,46.6181,46.7996,44.9827,Whole Costa Rica,2010
12,Average schooling people of years and older,8.37929,6.00487,6.6901,7.78368,9.40502,12.2744,Whole Costa Rica,2010
13,Open unemployment rate,7.31596,20.4514,9.67317,6.11725,3.14368,1.98258,Whole Costa Rica,2010
14,Net participation rate,59.0129,44.598,53.5936,61.6114,66.9775,68.3678,Whole Costa Rica,2010
15,Total people,2983566,664513,654772,612326,561624,490331,Central,2010
16,Total households,851080,170600,170030,170215,170060,170175,Central,2010
17,Members per household,3.50562,3.89515,3.85092,3.59737,3.3025,2.88133,Central,2010
18,Work force by household,1.67455,1.26335,1.64703,1.84991,1.87621,1.73732,Central,2010
19,Occupied by household,1.55794,1.00565,1.50844,1.74978,1.82267,1.70465,Central,2010
20,Income per household,909473,225716,449590,652746,993172,2.22757e+06,Central,2010
21,Per capita income per household,304370,57718.6,116389,182531,302901,862792,Central,2010
22,Percentage of households headed by women,35.3642,36.1782,36.2071,36.28,34.9124,33.2417,Central,2010
23,Percentage distribution of household income,100,4.97486,9.87602,14.3543,21.8206,48.9742,Central,2010
24,Demographic dependency relationship,0.429522,0.66936,0.525177,0.356052,0.303335,0.299771,Central,2010
25,Economic dependency ratio,1.09348,2.08319,1.3381,0.944621,0.760196,0.65849,Central,2010
26,Weekly hours worked in the main occupation,44.8927,41.3191,44.7489,46.3614,46.238,44.1921,Central,2010
27,Average schooling people of years and older,8.96571,6.51996,7.19921,8.42641,10.18,12.7976,Central,2010
28,Open unemployment rate,6.96323,20.3983,8.41439,5.4125,2.85393,1.88095,Central,2010
29,Net participation rate,60.9798,47.9305,57.7002,63.2495,67.3224,68.7035,Central,2010
...,...,...,...,...,...,...,...,...,...
831,Members per household,3.28587,3.78172,3.61297,3.36486,3.1502,2.51204,Huetar Atlántica,2017
832,Work force by household,1.31969,0.921298,1.16895,1.36115,1.63889,1.51382,Huetar Atlántica,2017
833,Occupied by household,1.1987,0.679858,1.02267,1.26183,1.56277,1.47325,Huetar Atlántica,2017
834,Average total household income,693042,175238,374743,541232,812447,1.56741e+06,Huetar Atlántica,2017
835,Average household income per capita,245882,46398.6,103023,160536,259620,662028,Huetar Atlántica,2017
836,Percentage of households headed by women,37.5929,50.9263,40.4823,31.8196,35.3828,29.1596,Huetar Atlántica,2017
837,Percentage distribution of household income,100,5.05258,11.0903,15.3045,23.3634,45.1893,Huetar Atlántica,2017
838,Demographic dependency relationship,0.523634,0.856904,0.633715,0.506062,0.352657,0.273674,Huetar Atlántica,2017
839,Economic dependency ratio,1.48987,3.10477,2.09079,1.47206,0.922156,0.659405,Huetar Atlántica,2017
840,Average weekly hours in the main job,44.0962,30.7586,42.6578,45.9526,46.8729,46.7793,Huetar Atlántica,2017
841,Average schooling people of years and older,7.61325,6.046,6.62495,7.22501,7.88943,10.6004,Huetar Atlántica,2017
842,Open unemployment rate,9.16808,26.2066,12.5135,7.2973,4.64478,2.68041,Huetar Atlántica,2017
843,Net participation rate,55.6021,40.2369,47.9768,54.2771,65.0851,71.5221,Huetar Atlántica,2017
844,Occupancy rate,50.5044,29.6922,41.9732,50.3164,62.062,69.605,Huetar Atlántica,2017
845,Total people,399295,86002,87732,82504,79118,63939,Huetar Norte,2017
846,Total households,119165,24016,23789,23770,23784,23806,Huetar Norte,2017
847,Members per household,3.35077,3.58103,3.68792,3.47093,3.32652,2.68584,Huetar Norte,2017
848,Work force by household,1.35779,0.877249,1.23851,1.36167,1.62454,1.69138,Huetar Norte,2017
849,Occupied by household,1.24285,0.627373,1.06856,1.25629,1.58157,1.68609,Huetar Norte,2017
850,Average total household income,748026,157213,359722,536029,843335,1.84854e+06,Huetar Norte,2017
851,Average household income per capita,253946,42437.4,96640.2,155119,253420,723717,Huetar Norte,2017
852,Percentage of households headed by women,30.2043,36.3466,33.0993,29.5541,28.885,23.0824,Huetar Norte,2017
853,Percentage distribution of household income,100,4.23568,9.60013,14.2939,22.5019,49.3683,Huetar Norte,2017
854,Demographic dependency relationship,0.530018,0.872377,0.661654,0.568219,0.344881,0.258518,Huetar Norte,2017
855,Economic dependency ratio,1.46782,3.08212,1.9777,1.54902,1.04767,0.587955,Huetar Norte,2017
856,Average weekly hours in the main job,43.7611,30.9786,41.4031,44.2499,47.9374,45.775,Huetar Norte,2017
857,Average schooling people of years and older,7.01361,5.23824,6.00375,6.4227,7.81208,9.64521,Huetar Norte,2017
858,Open unemployment rate,8.46534,28.484,13.7223,7.73936,2.64506,0.312927,Huetar Norte,2017
859,Net participation rate,55.2114,38.681,48.3016,53.9216,61.8109,73.1333,Huetar Norte,2017
860,Occupancy rate,50.5376,27.6631,41.6735,49.7484,60.176,72.9044,Huetar Norte,2017

In [2]:
education = preprocessing.INECDataSet('edu')
print(education.get_dataset_description())
edu = education.get_dataset()
edu.head()

Start to load data...
Costa Rica: Population from 5 to 24 years old, percentage distribution

For attendance at regular education
According to planning area and region

/Users/scott/dev/ece143/preprocessing.py:183: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.df['region'][self.df['region'] == 'Huetar Caribe'] = 'Huetar Atlántica'  # Correct old region name

,region,5-24 total,5-24 not attend%,5-24 attend%,5-12 total,5-12 not attend%,5-12 attend%,13-17 total,13-17 not attend%,13-17 attend%,18-24 total,18-24 not attend%,18-24 attend%,year
0,Total,1646747,29.6364,70.3636,581477,3.86223,96.1378,436865,16.864,83.136,628405,62.365,37.635,2010
1,Urbana,1158249,28.9644,71.0356,389829,3.00568,96.9943,297708,14.0668,85.9332,470712,59.8848,40.1152,2010
2,Rural,488498,31.2296,68.7704,191648,5.60455,94.3955,139157,22.8483,77.1517,157693,69.7685,30.2315,2010
3,Central,983942,29.5238,70.4762,328945,2.8184,97.1816,249967,14.4067,85.5933,405030,60.5422,39.4578,2010
4,Chorotega,131340,30.0122,69.9878,47884,4.88472,95.1153,36693,18.5076,81.4924,46763,64.7692,35.2308,2010

In [3]:
edu.groupby('region').count()

,5-24 total,5-24 not attend%,5-24 attend%,5-12 total,5-12 not attend%,5-12 attend%,13-17 total,13-17 not attend%,13-17 attend%,18-24 total,18-24 not attend%,18-24 attend%,year
region,,,,,,,,,,,,,
Brunca,8,8,8,8,8,8,8,8,8,8,8,8,8
Central,8,8,8,8,8,8,8,8,8,8,8,8,8
Chorotega,8,8,8,8,8,8,8,8,8,8,8,8,8
Huetar Atlántica,8,8,8,8,8,8,8,8,8,8,8,8,8
Huetar Norte,8,8,8,8,8,8,8,8,8,8,8,8,8
Pacífico Central,8,8,8,8,8,8,8,8,8,8,8,8,8
Rural,8,8,8,8,8,8,8,8,8,8,8,8,8
Total,8,8,8,8,8,8,8,8,8,8,8,8,8
Urbana,8,8,8,8,8,8,8,8,8,8,8,8,8

In [89]:
import os
import pandas as pd
edu_lvl = pd.read_excel(pd.ExcelFile(os.getcwd() + '/datasets/edu_2017.xlsx'), 1)
edu_lvl = edu_lvl.drop('Unnamed: 0', axis=1)
descrip = preprocessing.string(edu_lvl.iloc[:3,0].str.cat(sep='\n')).translate()
print(descrip)

Costa Rica: Population of 5 years or more
By level of instruction
According to area, planning region and sex

In [90]:
edu_lvl

,Cuadro 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Costa Rica: Población de 5 años o más,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Por nivel de instrucción,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Según zona, región de planificación y sexo",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Julio 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Zona, región de planificación y sexo",Total,Nivel de instrucción,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Sin instrucción,Primaria,NaN,Secundaria académica,NaN,Secundaria técnica,NaN,Educación superior,NaN,Ignorado
7,NaN,NaN,NaN,Incompleta,Completa,Incompleta,Completa,Incompleta,Completa,Pregrado y grado,Posgrado,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Total,4639751,333412,836796,1022936,916073,564273,86146,71208,734840,72525,1542
11,Hombres,2251989,168352,408999,517886,454369,265429,41372,34928,324285,35410,959
12,Mujeres,2387762,165060,427797,505050,461704,298844,44774,36280,410555,37115,583
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Zona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Urbana,3377628,206654,532897,678495,699884,446886,57485,54464,634585,64736,1542
17,Hombres,1614165,98968,255212,332516,346324,209037,28129,26805,284549,31666,959
18,Mujeres,1763463,107686,277685,345979,353560,237849,29356,27659,350036,33070,583
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Rural,1262123,126758,303899,344441,216189,117387,28661,16744,100255,7789,0
21,Hombres,637824,69384,153787,185370,108045,56392,13243,8123,39736,3744,0
22,Mujeres,624299,57374,150112,159071,108144,60995,15418,8621,60519,4045,0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Región de planificación,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Central,2902863,167764,438676,625016,575748,376936,43977,45301,569131,59131,1183
27,Hombres,1399533,84149,207704,311164,285006,179422,21379,21660,258396,29818,835
28,Mujeres,1503330,83615,230972,313852,290742,197514,22598,23641,310735,29313,348
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Chorotega,351324,27269,68860,70894,71516,46421,8420,6649,47374,3921,0
31,Hombres,170470,12762,33903,37132,37646,21752,4962,3021,17293,1999,0
32,Mujeres,180854,14507,34957,33762,33870,24669,3458,3628,30081,1922,0
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Pacífico Central,269689,22391,60378,62066,55016,30808,5502,4820,25657,2816,235
35,Hombres,133929,12007,31166,32729,25582,14210,2740,2641,11432,1422,0
36,Mujeres,135760,10384,29212,29337,29434,16598,2762,2179,14225,1394,235
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Brunca,338553,30122,77266,79622,62701,35025,10568,4734,36104,2287,124
39,Hombres,162068,15330,36709,39953,32331,15009,4558,2324,15150,580,124
40,Mujeres,176485,14792,40557,39669,30370,20016,6010,2410,20954,1707,0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Huetar Caribe,408679,38047,95237,100640,84203,40480,9620,6034,31706,2712,0
43,Hombres,201713,18276,50471,52336,40323,18082,4674,3122,13573,856,0
44,Mujeres,206966,19771,44766,48304,43880,22398,4946,2912,18133,1856,0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Huetar Norte,368643,47819,96379,84698,66889,34603,8059,3670,24868,1658,0
47,Hombres,184276,25828,49046,44572,33481,16954,3059,2160,8441,735,0
48,Mujeres,184367,21991,47333,40126,33408,17649,5000,1510,16427,923,0
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,"Fuente: INEC, Encuesta Nacional de Hogares, 2017.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
edu_lvl_cols = ['region', 'total', 'no education', 'incomplete primary', 'complete primary',
                'secondary incomplete', 'secondary complete', 'technical secondary incomplete', 'technical secondary complete',
                'undergraduate', 'postgraduate', 'no response']
edu_lvl = edu_lvl.rename(dict(zip(edu_lvl.columns, edu_lvl_cols)), axis=1).dropna(subset=['region'])
edu_lvl['male'] = (edu_lvl['region'] == 'Hombres').astype(int)
edu_lvl['total'] = ((edu_lvl['region'] != 'Hombres') & (edu_lvl['region'] != 'Mujeres')).astype(int)

In [92]:
for index, item in edu_lvl['region'].iteritems():
    if item == 'Hombres':
        edu_lvl.loc[index,'region'] = edu_lvl['region'][index-1]
    elif item == 'Mujeres':
        edu_lvl.loc[index,'region'] = edu_lvl['region'][index-2]
edu_lvl = edu_lvl.dropna()

In [93]:
edu_lvl

,region,total,no education,incomplete primary,complete primary,secondary incomplete,secondary complete,technical secondary incomplete,technical secondary complete,undergraduate,postgraduate,no response,male
10,Total,1,333412,836796,1022936,916073,564273,86146,71208,734840,72525,1542,0
11,Total,0,168352,408999,517886,454369,265429,41372,34928,324285,35410,959,1
12,Total,0,165060,427797,505050,461704,298844,44774,36280,410555,37115,583,0
16,Urbana,1,206654,532897,678495,699884,446886,57485,54464,634585,64736,1542,0
17,Urbana,0,98968,255212,332516,346324,209037,28129,26805,284549,31666,959,1
18,Urbana,0,107686,277685,345979,353560,237849,29356,27659,350036,33070,583,0
20,Rural,1,126758,303899,344441,216189,117387,28661,16744,100255,7789,0,0
21,Rural,0,69384,153787,185370,108045,56392,13243,8123,39736,3744,0,1
22,Rural,0,57374,150112,159071,108144,60995,15418,8621,60519,4045,0,0
26,Central,1,167764,438676,625016,575748,376936,43977,45301,569131,59131,1183,0
27,Central,0,84149,207704,311164,285006,179422,21379,21660,258396,29818,835,1
28,Central,0,83615,230972,313852,290742,197514,22598,23641,310735,29313,348,0
30,Chorotega,1,27269,68860,70894,71516,46421,8420,6649,47374,3921,0,0
31,Chorotega,0,12762,33903,37132,37646,21752,4962,3021,17293,1999,0,1
32,Chorotega,0,14507,34957,33762,33870,24669,3458,3628,30081,1922,0,0
34,Pacífico Central,1,22391,60378,62066,55016,30808,5502,4820,25657,2816,235,0
35,Pacífico Central,0,12007,31166,32729,25582,14210,2740,2641,11432,1422,0,1
36,Pacífico Central,0,10384,29212,29337,29434,16598,2762,2179,14225,1394,235,0
38,Brunca,1,30122,77266,79622,62701,35025,10568,4734,36104,2287,124,0
39,Brunca,0,15330,36709,39953,32331,15009,4558,2324,15150,580,124,1
40,Brunca,0,14792,40557,39669,30370,20016,6010,2410,20954,1707,0,0
42,Huetar Caribe,1,38047,95237,100640,84203,40480,9620,6034,31706,2712,0,0
43,Huetar Caribe,0,18276,50471,52336,40323,18082,4674,3122,13573,856,0,1
44,Huetar Caribe,0,19771,44766,48304,43880,22398,4946,2912,18133,1856,0,0
46,Huetar Norte,1,47819,96379,84698,66889,34603,8059,3670,24868,1658,0,0
47,Huetar Norte,0,25828,49046,44572,33481,16954,3059,2160,8441,735,0,1
48,Huetar Norte,0,21991,47333,40126,33408,17649,5000,1510,16427,923,0,0